@import '../../variables/sass-variables/variables.scss';

.pd-container{
 background-image: url("../../assets/wallpaper.png"); 
 background-size: cover;
 background-repeat: no-repeat;
 gap:10px;
 padding-top: 50px;
   
    h1{
        margin-bottom: 30px;
    }

    ul{
        margin-top: 40px;
    }

    .pd-location{
        margin-bottom: 50px;
       
    }

    .pd-wallpaper{
        @include center-flex;
        flex-direction: column;
        margin-bottom:10px;
    }

    .pd-text-container{
        padding-top: 30px;
        background:rgba(204, 204, 204, 0.472);
        display: grid;
        grid-template-columns: auto auto auto ;
        justify-content: center;
        gap: 50px;
        padding-bottom: 30px;
     
        .pd-item-location{
            overflow: scroll;
            overflow-x: hidden;
        }

        .pd-item-location::-webkit-scrollbar{
            width:10px;
            border-radius: 20px;
        }

        .pd-item-location::-webkit-scrollbar-track{
            background-color: $main-color-degraded;
        }

        .pd-item-location::-webkit-scrollbar-thumb{
            background-color: $main-color;
            border-radius: 10px;
        }

        .pd-text-location{
            display: flex;
            gap:20px;
        }
        .pd-text-item{
            background-color: #fff;
            padding: 20px;
            box-sizing: border-box;
            border-radius: 15px;
            box-shadow: 7px 4px 8px 0px rgba(34, 60, 80, 0.2);
        }

        .pd-locations{
            height: 150px;
        }
    }
    
}

.img-container{
   
    height:300px;
    img{
        @include full-w-h;
        
    }
}


@media (max-width:900px){
    .pd-text-container{
        grid-template-columns: auto auto !important;
    }
}


@media (max-width:680px){
    .pd-text-container{
        grid-template-columns: auto !important;
    }
}